<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>
		<ui:insert name="title">SpringSocial</ui:insert>	
	</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300italic,300,500italic,700,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'></link>
</h:head>

<h:body>
	
	<h:outputStylesheet library="css" name="style.css"  />
	
	<div id="wrapper">
		
		<div id="menu" class="z-depth-1-half">
			<ui:insert name="menu">
				<ui:include src="/menu.xhtml" />
			</ui:insert>
		</div>
		<div id="content">
			<ui:insert name="content">
				<ui:include src="/templates/defaultContents.xhtml" />
			</ui:insert>
		</div>

	</div>

</h:body>
</html>