<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Welcome</title>
	
	<style>
		body {
			background-image: url("./resources/img/login-background.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-color: #03a9f4;
		}
	</style>
	
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</h:head>

<h:body>
		<div class="valign-wrapper" id="login-page">
			<div class="container" >
  				<div class="center-align">
  					<div class="row">
  						<div class="col s12 m8 offset-m2 l4 offset-l4">
  							<div class="card z-depth-4">
  								<div class="card-content">
  									<div class="divider" style="margin: 15px 0;"></div>
  									<h:form id="login-form">
  										<p:growl id="loginInfo" autoUpdate="true" />
  										<div class="row">
  											<div class="input-field col s12">
												<p:inputText id="userName" required="false"
													value="#{loginBean.userName}"
													type="email"
													requiredMessage="Email is required!" 
													validatorMessage="This is not a valid email!"
													styleClass="validate">
												</p:inputText>
												<h:outputLabel for="userName" value="Email" styleClass="active"/>
  											</div>
  											<div class="input-field col s12" style="margin-bottom: 15px;">
  												<p:password id="password" required="false"
													value="#{loginBean.password}"
													requiredMessage="Password is required!" 
													styleClass="validate" />
												<h:outputLabel for="password" value="Password" styleClass="active" />
  											</div>
  											<div class="input-field col s12 l6">
  												<p:commandLink id="login" value="Login" action="#{loginBean.login}" update="userName password" 
  													styleClass="waves-effect waves-light btn light-blue accent-4 col s12" />
  											</div>
  											<div class="input-field col s12 l6">
  												<p:commandLink value="Clear" immediate="true" update="userName password" 
  													styleClass="waves-effect waves-light btn red accent-4 col s12">
													<p:resetInput target="userName password" />
												</p:commandLink>
  											</div>
  											<div class="input-field col s12 l6">
  												<h:panelGroup rendered="#{empty userSession.profile}" id="socialButtons" >
											        <h:commandLink id="facebook" action="#{userSession.socialConnect}" 
											        	styleClass="btn btn-facebook fa fa-facebook">
											            <f:setPropertyActionListener target="#{userSession.providerID}" value="facebook" />
											        </h:commandLink>
										        </h:panelGroup>
  											</div>
  											<p:defaultCommand target="login" />
  										</div>
  									</h:form>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
			</div>
		</div>
		<script>
			$(document).on("ready", function(){
				$('#login-page').css({'height' : window.innerHeight + 'px'});
			});
		</script>
	</h:body>
</html>