<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sec="http://www.springframework.org/security/tags">
	<div id="navigationWrapper" class="stretched">
		<p:link outcome="home" title="Home"></p:link>
		<div id="menuNavigation" class="stretched">
			<p:link value="Home" outcome="home" styleClass="menuItem smoothTransition stretched" />
			<sec:authorize access="hasRole('ROLE_ADMIN')">
				<p:link value="Admin Panel" outcome="admin" styleClass="menuItem smoothTransition stretched" />
			</sec:authorize>
		</div>
	</div>
	<div id="userProfileActions" class="stretched smoothTransition">
		<h:form id="editUserProfile" styleClass="stretched">
			<p:commandLink id="dynaButton" value="#{userController.getFullName(userModel.getLoggedUser())}" type="button" styleClass="menuItem stretched icon-dropdown"/>
			<p:menu overlay="true" trigger="dynaButton" my="left top" at="left bottom">
				<p:menuitem value="Logout" action="#{loginBean.logout}" actionListener="#{userController.showWhoLoggedOut}" styleClass="icon-logout-before"/>
			</p:menu>
		</h:form>
	</div>
</ui:composition>