<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Social login success</title>
    </h:head>
    <h:body>
    	Hello World
    	#{userSession.profile}
    	#{userSession.profile.getFirstName()}
        <h:outputText value="#{userSession.pullUserInfo()}" />
    </h:body>
</html>